<% provide(:title, "About") %>
<h2>About</h2>
<p>
  Health & Safety Post it Board was developed for a web development series of classes I am taking to become a world class developer. This particular class in number two in the series and is called <i>Rapid Prototyping with Rails</i>.  The task was to develop an application similar in functionality to "Reddit".  Following the guidance of the instructors lessons, I developed this application using Ruby on Rails.  The application is build around the Industrial Health and Safety field, where I have years of experience and some expertise.  The purpose of the application to engage safety personal in discussion around news, article, events that one finds interesting or applicable to your profession.  Whether it is something that has or is happening at your facility or someone else it can be up for discussion.  The application requires you to register but only requires a user name and a password.  
</p>
<p>
  Thanks to the folks at <%= link_to "Tealeaf Academy", 'https://www.gotealeaf.com/' %>  for providing a quality course to learn the skills necessary to develop quality web applications.
</p>