<div class='well well-small span'> 
  <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true  do %>
    <span class="label label-success"><i class='icon-circle-arrow-up'></i></span>
  <% end %>
  <div class='vote_text'>
    <span class='vote_text' id="post_<%= post.id %>_votes"><strong><%= post.total_votes %></strong></span>
  </div>
  <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true  do %>
    <span class="label label-important"><i class='icon-circle-arrow-down'></i></span>
  <% end %>
</div>