/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$linkColor:      #22d414;

@import 'bootstrap';
@import "bootstrap-responsive";

.container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px !important;
}

.quiet {
  color: #ababab;
}
/*
div.nav_item {
  margin-left: 25px;
  float: left;
}
*/
.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}


/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

input, textarea, .uneditable-input {
    width: auto;
}

.nav_img {
  padding-top: 3px;
}

span.vote_text{
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}
div.vote_text{
  text-align: center;
}