<% provide(:title, "Categories") %>
<h2>Categories</h2>
<hr>
<div class='span4'>
  <% @categories.each do | cat | %>
    
    <div class='well well-small'>
      <h4 class='media-heading'><%= link_to cat.name, category_path(cat) %></h4>
    </div>
  <% end %>
</div>
<% if logged_in? %>
  <div class="clearfix"></div>
  <hr>
  <h4>Create New Category</h4>
  <hr>
  <div class='offset1'>
    <%= render 'form' %>
  </div>
<% end %>